<app-button 
class="btn btn-primary" 
(buttonClick)="onChangeColor()"
[buttonLabel]="'Change Color'"
></app-button>
<app-input 
type="text" 
[inputPlaceholder]="'Enter User Name'"
(inputValue)="onChangeUserName($event)">
</app-input>
  <app-button
  [buttonLabel]="'Add Card'"
  class="btn btn-primary" 
  (buttonClick) = "onAddCard()"></app-button>
  <app-card 
  [ngStyle]="{backgroundColor:cardBackgroundColor}"
  *ngFor="let card of cards"
  [title] = "card.title"
  [isAdmin] = "card.isAdmin"
  >
</app-card>
