<nav class="header-container">
  <div class="logo-tabs-container">
    <h2 class="header-title">Welcome</h2>
    <div *ngFor="let item of headerTabs" class="menu-item-container">
      <a
        id="menu-item"
        class="menu-item"
        [routerLink]="item.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.name === 'home' ? true : false }"
      >
        {{ item.name }}
        <span *ngIf="item.name ==='my cards'" class="badge">{{numOfCardsInCart$ | async}}</span>
      </a>
    </div>
  </div>
  <app-search 
  [componentName]="componentName"
  [originalListItems]="listOfOptions"
  (selectedValue)="onSelectedValue($event)"
  ></app-search>

  <div class="menu-item-container" data-testid="logout">
    <a class="menu-item" (click)="logout()">Logout</a>
  </div>
</nav>
