<div class="app-root-container">
  <app-avatar [image]="imageSource"></app-avatar>
  <app-checkbox [label]="'switch avatar'" (isChange)="onCheckboxChange($event)"></app-checkbox>
  <app-input [placeholder]="'add item to list'" (value)="onInputValueChange($event)"></app-input>
  <app-button [buttonLabel]="'Add Item'" (buttonClick)="addItemToList()"></app-button>
  <app-search [originalListItems]="listItems" [searchPlaceholder]="searchPlaceholder"></app-search>
  <app-card>
    <app-avatar [image]="imageSourceForCard"></app-avatar>
    <h3>Card Title</h3>
    <h6>Card context here is some context</h6>
  </app-card>
</div>