.app-root-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cards-container{
    display:flex;
}

@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-animation {
    animation: rotate360 2s linear forwards;
  }